.Login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-link-container{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(222, 222, 222);
  align-items: center;
  padding: 4px 10%;
  color: aliceblue;
}
.Header-link{
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.Header-logo{
  position: absolute;
  top: 19px;
	left: 19px;
  width: 60px;
}
.Header-container{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.Header-navbar{
  display: inline-flex;
  padding: 0px 10%;
}
.Header-function{
  display: inline-flex;
  padding: 0px 10%;
}